{
  "http_interactions": [
    {
      "response": {
        "body": {
          "encoding": null,
          "string": "Resource document with ID Kernel/test/docs/kernel-docs-not-found does not exist."
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "headers": {
          "content-type": [
            "text/plain; charset=utf-8"
          ]
        }
      },
      "request": {
        "uri": "https://document-index.product.pharia.com/collections/Kernel/test/docs/kernel-docs-not-found",
        "body": {
          "encoding": null,
          "string": ""
        },
        "method": "get",
        "headers": {
          "authorization": [
            "TOKEN_REMOVED"
          ]
        }
      },
      "recorded_at": "Thu, 23 Oct 2025 08:27:56 +0000"
    }
  ],
  "recorded_with": "rVCR 0.3.0"
}