{
  "http_interactions": [
    {
      "response": {
        "body": {
          "encoding": null,
          "string": "[]"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "content-type": [
            "application/json"
          ]
        }
      },
      "request": {
        "uri": "https://document-index.product.pharia.com/collections/Kernel/test/indexes/asym-64/search",
        "body": {
          "encoding": null,
          "string": "{\"filters\":[{\"with\":[{\"metadata\":{\"after\":\"2100-01-01T14:10:11Z\",\"field\":\"created\"}}]},{\"with\":[{\"modality\":\"text\"}]}],\"max_results\":1,\"min_score\":null,\"query\":[{\"modality\":\"text\",\"text\":\"What is the Pharia Kernel?\"}]}"
        },
        "method": "post",
        "headers": {
          "authorization": [
            "TOKEN_REMOVED"
          ],
          "content-type": [
            "application/json"
          ]
        }
      },
      "recorded_at": "Thu, 23 Oct 2025 08:27:56 +0000"
    }
  ],
  "recorded_with": "rVCR 0.3.0"
}