{
  "http_interactions": [
    {
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"document_path\":{\"namespace\":\"Kernel\",\"collection\":\"test\",\"name\":\"kernel docs\"},\"section\":[{\"modality\":\"text\",\"text\":\"You might be wondering what the Kernel is. At this point, on some level of detail, we are still in the process of figuring it out ourselves. So far, what we know is that it allows you to deploy and execute user-defined code (we call it Skills). These Skills can interact with the world using the Cognitive System Interface (CSI), which is an interface with functionality biased towards the domain of generative AI. The CSI is also the only way these skills can interact with the world. While this may seem restrictive, it facilitates a frictionless deployment experience and ensures security during execution.\"}],\"start\":{\"modality\":\"text\",\"item\":0,\"position\":0},\"end\":{\"modality\":\"text\",\"item\":0,\"position\":608},\"score\":0.5}]"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "content-type": [
            "application/json"
          ]
        }
      },
      "request": {
        "uri": "https://document-index.product.pharia.com/collections/Kernel/test/indexes/asym-64/search",
        "body": {
          "encoding": null,
          "string": "{\"filters\":[{\"with\":[{\"modality\":\"text\"}]}],\"max_results\":1,\"min_score\":null,\"query\":[{\"modality\":\"text\",\"text\":\"What is the Pharia Kernel?\"}]}"
        },
        "method": "post",
        "headers": {
          "authorization": [
            "TOKEN_REMOVED"
          ],
          "content-type": [
            "application/json"
          ]
        }
      },
      "recorded_at": "Thu, 23 Oct 2025 08:27:56 +0000"
    }
  ],
  "recorded_with": "rVCR 0.3.0"
}